$padding: 100px;
$border: 5px solid transparent;

/* ----- COLORS ----- */

$color-text-primary: rgb(107, 105, 105);
$color-text-secondary: rgb(175, 174, 174);
$color-white: rgb(255, 255, 255);
$color-accent: #0492aa;
$color-accent-green: #f1f2d0;
$color-gradient: linear-gradient(
  0deg,
  rgba(241, 242, 208, 1) 0%,
  rgba(4, 146, 170, 1) 100%
);

/* ----- BREAKPOINTS ----- */

$break-xs: 320px;
$break-sm: 700px;
$break-md: 960px;
$break-lg: 1140px;
$break-xl: 1824px;
