footer {
  display: flex;
  flex-direction: column;
  padding: 100px;

  .la-footer {
    display: flex;

    @include responsive-xs {
      flex-direction: column;
      text-align: center;
    }

    .la-footer__menu {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      font-size: 20px;

      h6 {
        font-size: 18px;
      }

      a,
      i {
        font-size: 12px;

        i {
          color: $color-accent;
        }
      }

      @include responsive-xs {
        flex-direction: column;
        padding: 10px 0;
      }
    }
  }

  > div > .la-footer__menu:last-of-type {
    width: 15%;

    @include responsive-xs {
      width: auto;
    }
  }

  .la-footer__links {
    display: flex;
    align-items: center;
    padding-top: 40px;

    @include responsive-xs {
      flex-direction: column;
    }

    .la-footer__social {
      padding-right: 30px;

      @include responsive-xs {
        padding-right: 0;
        margin-bottom: 20px;
      }

      a i {
        padding: 6px;
        font-size: 20px;
      }

      .fab {
        @include hover-scale-01;
      }
    }

    .la-footer__sublinks {
      > a {
        padding-left: 30px;
        font-size: 12px;
        @include hover-scale-01;

        @include responsive-xs {
          line-height: 1.5;
          display: flex;
          padding: 0;
        }

        > span {
          @include responsive-xs {
            margin: 0 auto;
          }
        }
      }

      .la-footer--hover {
        padding-left: 30px;
        @include hover-scale-01;

        @include responsive-xs {
          padding: 0;
        }
      }
    }
  }
}
