footer {
  display: flex;
  flex-direction: column;
  padding: 100px;

  .la-footer {
    display: flex;

    @include responsive-xs {
      flex-direction: column;
      text-align: center;
    }

    .la-footer__menu {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      // justify-content: center;
      // padding: 60px 30px;
      font-size: 20px;

      h6 {
        font-size: 18px;
      }

      a,
      i {
        font-size: 12px;

        i {
          color: $color-accent;
        }
      }

      @include responsive-xs {
        flex-direction: column;
      }
    }
  }

  > div > .la-footer__menu:last-of-type {
    width: 15%;
  }

  .la-footer__links {
    display: flex;
    align-items: center;
    padding-top: 40px;

    @include responsive-xs {
      flex-direction: column;
      text-align: center;
    }

    .la-footer__social {
      padding-right: 30px;

      a i {
        padding-right: 10px;
        font-size: 20px;
      }
    }

    .la-footer__sublinks {
      a span {
        padding-left: 30px;
        font-size: 12px;

        @include responsive-xs {
          display: flex;
          flex-direction: column;
          padding: 0;
        }
      }
    }
  }
}
