@import "./util/animations";

.la-header {
  height: 80vh;
  display: flex;
  position: relative;
  margin-bottom: 300px;
  padding: 70px 100px;

  $animDelay: 1000ms;

  @include responsive-sm {
    padding: 70px 50px;
  }

  &:before {
    content: "";
    background: $color-gradient;
    position: absolute;
    top: -400px;
    bottom: -100px;
    left: -800px;
    right: -800px;
    transform: skewY(25deg);
    transform-origin: 60%;
    z-index: -1;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);
  }

  @include responsive-xs {
    flex-direction: column;
    padding: 50px;
    height: auto;
  }

  > div {
    flex: 1 1 auto;
    position: relative;

    &:nth-child(1) {
      width: 45%;
      opacity: 0;
      animation: enter-fade-up-1 3000ms $easeOutCirc $animDelay normal forwards;

      @include responsive-xs {
        width: 100%;
        margin-bottom: 150px;
      }
    }

    &:nth-child(2) {
      width: 55%;
      opacity: 0;
      animation: up 3000ms $easeOutCirc $animDelay normal forwards;

      @include responsive-sm {
        width: 35%;
      }

      &:before {
        content: "";
        background-image: url("/asset/01A.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: -200px;
        bottom: -100px;
        right: -100px;
        left: -100px;
        z-index: -1;

        @include responsive-sm {
          top: -400px;
          bottom: -300px;
          right: -200px;
          left: -100px;
        }
        @include responsive-xs {
          margin-bottom: 100px;
          bottom: -500px;
          right: -200px;
          left: 0;
        }
      }
    }
  }

  h1 {
    line-height: 1;
    color: $color-white;
    opacity: 0;
    animation: enter-fade-up-1 3000ms $easeOutCirc $animDelay normal forwards;

    @include responsive-md {
      font-size: 50px;
    }
    @include responsive-sm {
      font-size: 45px;
    }
    @include responsive-xs {
      font-size: 50px;
    }
  }

  p {
    margin: 25px 180px 50px 0;
    font-size: 12px;
    font-weight: 400;
    opacity: 0;
    animation: fade-up 2000ms $easeOutCirc 1500ms normal forwards;

    @include responsive-xs {
      width: 100%;
    }
  }

  button {
    opacity: 0;
    animation: fade-up 2000ms $easeOutCirc 2000ms normal forwards;
  }
}
