.la-header {
  height: 80vh;
  display: flex;
  background: peachpuff;

  @include responsive-xs {
    flex-direction: column;
    padding: 50px;
    height: auto;
  }

  .la-header__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: salmon;

    @include responsive-xs {
      width: 100%;
    }

    h1 {
      width: 50%;
    }

    p {
      width: 50%;
    }
  }

  .la-header__img {
    // display: none;
    // background: khaki;
  }
}
