.la-process,
.la-animatable {
  margin: 0;
  position: relative;

  &.la-animatable--animate {
    animation: up 3000ms $easeOutBack 800ms forwards;
  }

  @include responsive-xs {
    flex-direction: column;
  }

  .la-process__content--main {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    position: absolute;
    top: -200px;
    // left: 0;
    // bottom: 0;
    // right: 0;

    @include responsive-xs {
      top: 0;
      // margin-bottom: 300px;
    }

    h2 {
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: 400;
      padding: 0;
    }

    p {
      font-size: 13px;

      @include responsive-xs {
        text-align: center;
      }
    }

    @include responsive-xs {
      align-items: center;
      width: 70%;
    }
  }

  .la-process__content {
    height: 80vh;
    background-image: url("/asset/edi03.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;

    @include responsive-xs {
      flex-direction: column;
      background-size: auto 40%;
      height: 70vh;
    }

    .la-process__img {
      height: 100%;
      flex: 1 0 60%;
    }

    .la-process__sub-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .la-process__sub--2,
      .la-process__sub--3 {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          width: 50%;
          font-size: 13px;
        }

        @include responsive-xs {
          margin-top: 50px;
          align-items: center;
        }
      }
    }
  }
}
