.la-process {
  margin: 0 50px;
  display: flex;
  flex-direction: column;

  @include responsive-xs {
    flex-direction: column;
  }

  .la-process__content--main {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    background: relative;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: -400px;
    //   bottom: 0;
    //   right: 0;
    //   left: 0;
    // }

    h2 {
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: 400;
    }

    h5,
    p {
      margin-left: 50px;
    }

    p {
      font-size: 13px;
    }
  }

  .la-process__sub-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 300px 100px;
    position: relative;

    &:before {
      content: "";
      background-image: url("/asset/edi03.png");
      // background-size: auto 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      // left: -400px;
      z-index: -5;
    }

    @include responsive-xs {
      // padding: 40px;
    }

    .la-process__content--2 {
      width: 40%;
      position: absolute;
      bottom: 450px;
      background: purple;
    }

    .la-process__content--3 {
      width: 40%;
      position: absolute;
      top: 400px;
      // bottom: 0;
      // right: 100px;
      // left: 100px;
      background: palegreen;
    }
  }
}
