.la-process,
.la-animatable {
  margin: 0 50px;
  display: flex;
  flex-direction: column;

  &.la-animatable--animate {
    animation: up 3000ms $easeOutBack 800ms forwards;
  }

  @include responsive-xs {
    flex-direction: column;
  }

  .la-process__content--main {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: -400px;
      bottom: 0;
      // right: 300px;
      // left: 100px;
    }

    h2 {
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: 400;
    }

    p {
      font-size: 13px;
    }
  }

  .la-process__sub-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    img {
      width: 90%;
    }

    @include responsive-xs {
      // padding: 40px;
    }

    .la-process__content--2 {
      position: absolute;
      width: 30%;
      bottom: 600px;
      left: 600px;

      p {
        font-size: 13px;
      }
    }

    .la-process__content--3 {
      width: 40%;
      position: absolute;
      top: 560px;
      left: 600px;

      p {
        font-size: 13px;
      }
    }
  }
}
