@import "../util/variables";
@import "./util/animations";

hr {
  margin: 0 100px;
  height: 1px;
  border: 0;
  border-top: 2px solid $color-text-secondary;
  opacity: 0.5;
}

.la-signup {
  display: flex;

  @include responsive-sm {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @include responsive-xs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .la-signup__content,
  .la-animatable {
    width: 60%;
    padding: 100px;

    @include responsive-sm {
      padding: 50px 50px 25px 50px;
      text-align: center;
    }

    @include responsive-xs {
      width: 100%;
      padding: 40px;
      flex-direction: column;
      flex: 1;
    }

    &.la-animatable--animate {
      // animation: fade-up 3000ms $easeOutBack 800ms forwards;
    }
  }

  h2 {
    font-size: 40px;
    font-weight: 400;
    animation: fade-up 2000ms $easeOutCirc 700ms normal forwards;

    @include responsive-xs {
      font-size: 34px;
    }
  }
  p {
    animation: fade-up 2000ms $easeOutCirc 1000ms normal forwards;
  }

  .la__btn--wrapper {
    display: flex;
    align-items: center;
    animation: right-to-left 3000ms $easeOutCirc 1300ms normal forwards;

    @include responsive-sm {
      flex-direction: column;
      margin-bottom: 50px;
    }

    @include responsive-xs {
      padding: 20px;
    }
  }
}
