@import "../util/variables";

hr {
  margin: 0 100px;
  height: 1px;
  border: 0;
  border-top: 2px solid $color-text-secondary;
  opacity: 0.5;
}

.la-signup {
  display: flex;

  @include responsive-sm {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @include responsive-xs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .la-signup__content
	// .la-animatable 
	 {
    width: 60%;
    padding: 100px;
    display: flex;
    flex-direction: column;

    // &.la-animatable--animate {
    //   animation: up 3000ms $easeOutBack 800ms forwards;
    // }

    @include responsive-sm {
      padding: 50px 50px 25px 50px;
      text-align: center;
    }

    @include responsive-xs {
      width: 100%;
      padding: 40px;
      flex-direction: column;
      flex: 1;
    }
  }

  h2 {
    font-size: 40px;
    font-weight: 400;

    @include responsive-xs {
      font-size: 34px;
    }
  }

  .la__btn--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    button {
      @include hover-scale-01;
    }

    @include responsive-sm {
      flex-direction: column;
      margin-bottom: 50px;
    }

    @include responsive-xs {
      padding: 20px;
    }
  }
}
